.btn {
    border: none;
    color: rgb(241, 241, 241);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    font-size: calc(2vh + 2vw);
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 85%;
}

.btn:active {
    opacity: 70%;
}

.number-btn {
    background-color: #6592fd;
}

.operator-btn {
    background-color: #5f59f7;
}

.time-btn {
    background-color: #4741f6;
}

.equal-btn {
    background-color: #44c2fd;
}

.Remove-btn {
    background-color: #f75959e7;
}
