.screen {
    height: 130px;
    margin-bottom: 10px;
    padding:  10px;
    /* background-color: #4357692d; */
    border-radius: 10px;
    text-align: end;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    
}

/* .screen:hover {
    background-color: #50606e2d;
} */