.screen {
    height: 130px;
    margin-bottom: 10px;
    padding:  10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 10px;
    text-align: end;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-user-select: none; 
    user-select: none; 
}

/* .screen:hover {
    background-color: #50606e2d;
} */