:root {
    --MARGIN-SIZE: 20px;
}

.wrapper {
    border-radius: 20px;
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 0;
    top: 0;
    right:0;
    bottom: 0;
    margin: var(--MARGIN-SIZE) var(--MARGIN-SIZE) var(--MARGIN-SIZE) var(--MARGIN-SIZE);
    background: #353090d2;
}
